@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);

body {
  /*padding:20px;*/
  font:16px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#666666;
  font-weight:300;
  display: flex;
}

h1 {
  color:#ffffff;
  margin-top: 50px;
  margin-bottom: 0.1em;
  margin-left: 0.2em;

}

p {
  margin:0 0 10px;
  margin-left: 1em;
  margin-right: 1em;
  display: inline-block;
}

h1 {
  padding-left: 5px;
  line-height:1.1;
}

h1 {
  font-size:30px;
}

h2 {
    color: 	#ff867b;
    margin-left: 0.55em;
    font-size: 28px;
}

h3 {
    margin-left: 0.8em;
    transition-duration: 0.5s;
}

h4 {
  font-size: 14px;
  margin-left:1.2em;
  color: #666666;
}

a {
  color:#39c;
  font-weight:400;
  text-decoration:none;
}

table {
  border: 1px solid #666666;
  margin-left: 20px;
  margin:0 0 10px;
  width: 80%;
}

th, td {
  text-align:left;
  padding:10px 20px;
  border-bottom:1px solid #e5e5e5;

}

th {
  background-color: #666666;
  color: white;
}

tr:hover {background-color: #ffb5ae;}

.title {
    padding-bottom: 10px;
    border-bottom: 1px solid #e5e5e5;
    background-color: #ff867b;
    padding: 10px;
    margin-left: -5px;
    color: white;

}

.title:after {
  background: linear-gradient(to right, #ff867b 30%,#7bb2ff 70%);
  position: absolute;
  content: '';
  height: 4px;
  right: 0;
  left: 0;
  top: 0;
}

.content {
    /*padding-top: 20px;
    padding-bottom: 10px;*/
}

#data_table {
    height: 200px;
    width: 90%;
}

#choiceform {
    padding-top: 20px;
    border-top: 0px solid #ff867b;
}

#left_column {
    height:300em;
    width: 35%;
    float:left;
    background-color: #f7faff;
    box-shadow: 5px 0 5px -2px #888;
    margin-left: -5px;
    margin-top: -19px;
}

#right_column {
    width: 65%;
    float: right;
    margin-left:40%;
    position:fixed;
}

#download {
    float: right;
    font-size:28px;
    font-weight: 700;
}

.key {
    background-color: #000032;
}

.p1 {
  line-height: 4;
  margin-bottom: 10px;
}

.overlay{
    position:relative;
}

.hoverText{
    position: absolute;
    margin-top:10%;
    margin-left: 3%;
    background-color:#f7faff;
    box-shadow: 3px 0 5px 2px #888;
}

#grad {
  height: 25px;
  background-color: red; /* For browsers that do not support gradients */
  background-image: linear-gradient(to right, red , white); /* Standard syntax (must be last) */
  width: 100px;
}

.area{
    /* fill: #C0C0C0; */
    stroke: none;
}

.boundary {
    fill: none;
    stroke: #5c5857;
    stroke-width:0.75;
}

.selected {
    fill: #7bb2ff;
    background-color: black;
    /*stroke: black;
    stroke-width: 2;
    stroke-linejoin: round;*/
}

.selectButton{
    display: none;
    border-radius: 2px;
    border: 2px solid #ff867b;
    margin-left: 30px;
    transition-duration: 0.5s;
}

.selectButton:hover {
  background-color: #ff867b; /* Green */
  color: white;
}

.doc{
    display: none;
}

.grid line {
  stroke: lightgrey;
  stroke-opacity: 0.7;
  shape-rendering: crispEdges;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

#graphTitle {
  color: #7bb2ff;
  text-decoration: underline;
}

small {
  margin-left: 1.5em;
  font-size: 12px
}

strong {
  font-size: 28px;
}
